body{
   background: hsl(200, 100%, 98%);
}

nav{
    background:#fff;
    box-shadow:shadow;
}

.nav-header{
    align-items:center;
    display:flex;
   justify-content:space-between;
   padding:1rem; 
}

.nav-toggle{
    font-size:1.5rem;
    color:hsl(205,78%,60%);
    background:transparent;
    border:transparent;
    cursor:pointer;
    transition:all 0.3s linear;
}

.nav-toggle:hover{
    color:hsl(205,86%,17%);
    transform:rotate(90deg)
}

.logo{
    height:40px;
}

.links a{
    font-size:1rem;
    display:block;
    text-transform:capitalize;
    color:hsl(205,72%,37%);
    padding:0.5rem 1rem;
    transition:all 0.3s linear;
    letter-spacing:0.1rem;
}

.links a:hover{
    background:hsl(210,31%,80%);
    color:hsl(210,22%,49%) ;
    padding-left: 1.5rem;
}

.social-icons{
    display:none;
}

.links{
    height:0; 
    overflow:hidden;
    transition:all 0.3s linear;
} 

.show-links{
    height:10rem;
}

ul{
    list-style-type:none;
}

a{
    text-decoration:none;
}